* {
  box-sizing: border-box;
}

body {
  /* background-color: black; */
}

h3 {
  margin: 0;
}

.container {
  background: url(img/background.png) center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  height: 400px;
  margin: auto;
  border-radius: 5px;
}

#play-btn,
#pause-btn {
  font-size: 18px;
}

#play-btn {
  display: block;
}

#pause-btn {
  display: none;
}

.items {
  /* TODO 수정할 것 */
  margin-top: 20px;
  /* display: none; */
}
